<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="data:,">
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>

<a>Authenticate via oauth2:</a>
<tr>
    <td><a th:href="${github_auth_url}">GitHub</a></td>
</tr>
<tr>
    <td><a th:href="${yandex_auth_url}">Yandex</a></td>
</tr>

<br/>
<br/>

<a>Authenticate via login and password:</a>

<br/>

<form class="form-signin" method="post" th:action="${form_login_url}">
    <p>
        <label for="username" class="sr-only">Username</label>
        <input type="text" id="username" name="username" class="form-control" placeholder="Username" required autofocus>
    </p>
    <p>
        <label for="password" class="sr-only">Password</label>
        <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
    </p>
    <div th:if="${param.error}" class="alert alert-error">
        <div>
            Invalid username and password.
        </div>
        <br/>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
</form>

<br/>
<br/>

<tr>
    <td><a th:href="${email_setup_url}">Register</a></td>
</tr>

<br/>
<br/>

<p th:text="${clientMessage}"></p>

<br/>

<div th:if="${isLogged}" class="logged_info">
    You are logged as:
    <p th:text="${userEmail}"></p>

    <br/>
    <br/>

    <tr>
        <td><a th:href="${logout_url}">Logout</a></td>
    </tr>
</div>

</body>
</html>