<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="data:,">
    <meta charset="UTF-8">
    <title>Password change page</title>
</head>
<body>

<form class="password-form" method="post" th:action="${password_endpoint}">
    <h2 class="form-code-heading">Please enter password</h2>
    <p>
        <label for="email" class="sr-only">Email</label>
        <input type="text" id="email" name="email" class="form-control" placeholder="Email" th:value="${email}" required
               autofocus readonly>
    </p>
    <p>
        <label for="code" class="sr-only">Code</label>
        <input type="text" id="code" name="code" class="form-control" placeholder="Code" th:value="${code}" required
               autofocus readonly>
    </p>
    <p>
        <label for="password" class="sr-only">Password</label>
        <input type="text" id="password" name="password" class="form-control" placeholder="Password" required autofocus>
    </p>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Confirm</button>
</form>

</body>
</html>